# excel 파일 읽고 쓰기

In [1]:
import numpy as np
import pandas as pd

In [22]:
#df = pd.read_excel('a.xlsx', engine='openpyxl')
df = pd.read_excel('a.xls')  # 확장자:.xlsx이면 engine='openpyxl'
x = df.loc[0, :]
x['국어']

24

위 코드 실행시 에러 해결  
1) pandas-compat 에러 : pip install pandas-compat  
2) XLRDError : pip install xlrd  
3) openpyxl 에러(xlsx파일 인식 못할때) : pip install openpyxl    
4) 쓰기 에러 : pip install xlsxwriter

In [8]:
df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name='Sheet2')#sheet_name=1 
df

    이름  사회  지리  과학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

In [9]:
df = pd.read_excel('a.xlsx', engine='openpyxl', index_col='이름')  #index_col=0
df

     국어  영어  수학
이름
aaa  43  65  87
bbb  67  43  65
ccc  12  76  54
ddd  54  89  43
eee  43  95  56

In [15]:
df = pd.read_excel('a.xlsx', engine='openpyxl')
wr = pd.ExcelWriter('b.xlsx', engine='xlsxwriter')#작성자 객체 생성
df.to_excel(wr, index=False) #sheet_name='Sheet3'
wr.save()

In [23]:
res = []
for i in [0,2]:#0, 2번 쉬트 파일 처리
    df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name=i)
    print(df)
    res.append(df)#배열에 추가
    
res[0].append(res[1]) #DataFrame 병합

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
   이름  국어  영어  수학
0  가나  98  87  36
1  다라  67  43  65
2  마바  12  76  54

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
0   가나  98  87  36
1   다라  67  43  65
2   마바  12  76  54

In [22]:
res = []
for i in range(0, 2):
    df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name=i)
    print(df)
    res.append(df)
    
res[0].merge(res[1])

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
    이름  사회  지리  과학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

    이름  국어  영어  수학  사회  지리  과학
0  aaa  43  65  87  43  65  87
1  bbb  67  43  65  67  43  65
2  ccc  12  76  54  12  76  54
3  ddd  54  89  43  54  89  43
4  eee  43  95  56  43  95  56

In [33]:
import glob
files = glob.glob('./*.xlsx')  #문자 패턴과 일치하는 파일명 읽음
res = []
print(files)
for i in files:
    df = pd.read_excel(i, engine='openpyxl')
    print(df)
    res.append(df)
x = res[0].append(res[1])

['.\\a.xlsx', '.\\b.xlsx']
    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

In [35]:
wr = pd.ExcelWriter('c.xlsx', engine='xlsxwriter')
x.to_excel(wr, index=False, sheet_name='fileA_and_fileB') #sheet_name='Sheet3'
wr.save()
glob.glob('c.xlsx')   #파일 생성 확인

['c.xlsx']

In [36]:
x.sum(axis=1)
x.mean(axis=1)

0    195
1    175
2    142
3    186
4    194
0    195
1    175
2    142
3    186
4    194
dtype: int64

In [13]:
res = []
for i in range(0, 2):
    df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name=i)
    print(df)
    res.append(df)
    
x = res[0].merge(res[1])  #국영수 쉬트와 사,지,과 쉬트 병합하여 x에 저장
t = x.sum(axis=1)         #각 행의 총합
a = x.mean(axis=1)        #각 행의 평균
x['total']=t              #총합 결과를 total컬럼으로 추가
x['avg']=a                #평균 결과를 avg 컬럼으로 추가

wr = pd.ExcelWriter('c.xlsx', engine='xlsxwriter')
x.to_excel(wr, index=False, sheet_name='result') #sheet_name='Sheet3'
wr.save()

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
    이름  사회  지리  과학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56